<!DOCTYPE html>
{% extends 'minicrm/base.html' %}

{% block title %}
<title>Index</title>
{% endblock title %}






{% block content %}

{% include 'minicrm/dashboard.html' %}

<div class="container mt-5">
    <div class="alert alert-primary  rounded-0">
        <h4 class="alert-heading">Index Heading</h4>
        <p>Index Content</p>
        <hr>
        <p class="mb-0">Index Description</p>
        <a href=" {% url 'minicrm:agents' %} "> Go to Agents </a>
      </div>
</div>
{% endblock content %}