/* Card */

.cardview {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    border: 2px solid rgb(141, 175, 205);
    border-radius: 0.5rem;
    padding: 4rem 2rem;
    width: 100%;
}

.cardview-image {
    padding-right: 2rem;
    /* background-color: lightgreen; */

}

.cardview-image img {
    width: 4rem;
    height: 4rem; 
    border-radius: 50%;
    object-fit: cover; 
    border: 1px solid rgb(141, 175, 205);
}

.cardview-content {
    /* background-color: lightskyblue; */
}

.cardview-content-body {
    display: flex;
    flex-direction: column;
    /* background-color: pink; */
    justify-content: space-between;
}

.cardview-content-button:hover {
    background-color: azure;
    color: rgb(141, 175, 205);
}
/* End Card */

@media (min-width: 968px) {

    .cardview-image img{
        flex-basis: 20%;
    }

    .cardview-content {
        flex-basis: 80%;
    }

    .cardview-content-body {
        flex-direction: row;
    }


}