:root {
    --percentage-messages: 0;
    --percentage-users: 0;
  }
  
  .box {
    position: relative;
    width: 200px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
  }
  
  .box .percent {
    position: relative;
    width: 150px;
    height: 150px;
  }
  
  .box .percent svg {
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);
  }
  
  .box .percent svg circle {
    width: 150px;
    height: 150px;
    fill: none;
    stroke-width: 10px;
    stroke: rgb(231, 119, 14);
    transform: translate(5px, 5px);
    stroke-dasharray: 440;
    stroke-linecap: round;
  }
  
  .box .percent .messages svg circle {
    stroke-dashoffset: calc(440px * (1 - var(--percentage-messages) /100));
  }
  
  .box .percent .users svg circle {
    stroke-dashoffset: calc(440px * (1 - var(--percentage-users) / 100));
  }
  
  .box .percent .number {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .box .percent .number h2 {
    font-size: 48px;
    font-weight: 300;
  }
  
  .box .percent .number h2 span {
    font-size: 24px;
    font-weight: 300;
  }
  
  .box .text {
    padding: 10px 0 0;
    font-weight: 700;
    letter-spacing: 1px;
  }
  
  